<template>
  <v-dialog v-model="dialog" max-width="290">
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>

      <v-card-text>{{ content }}</v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn color="green darken-1" flat="flat" @click="$emit('cancelled')">
          {{ cancelTxt }}
        </v-btn>

        <v-btn color="green darken-1" flat="flat" @click="$emit('confirmed')">
          {{ confirmTxt }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: Boolean,
    confirmTxt: {
      type: String,
      default: 'Confirm'
    },
    cancelTxt: {
      type: String,
      default: 'Cancel'
    },
    content: {
      type: String,
      default: 'Are you sure?'
    },
    title: {
      type: String,
      default: 'Please confirm'
    }
  },
  data: () => ({}),
  methods: {}
}
</script>

<style></style>
