<template>
  <v-layout>
    <v-flex>
      <v-card v-if="workout" flat>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{ workout.name }}</h3>
            <div>
              {{ workout.date | moment('dddd, MMMM Do YYYY, h:mm:ss a') }}
            </div>
          </div>

          <v-spacer></v-spacer>

          <v-menu bottom left>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on">
                <v-icon>more_vert</v-icon>
              </v-btn>
            </template>

            <v-list>
              <v-list-tile @click="timeDialog = true">
                <v-list-tile-title>Adjust start/stop times</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

          <!-- <AdjustWorkoutTimeDialog
            :dialog="timeDialog"
            :workoutStart="workout.startedAt"
            :workoutEnd="workout.endedAt"
            @confirmed="setNewTimes($event)"
            @cancelled="timeDialog = false"
          />-->
        </v-card-title>

        <v-toolbar class="elevation-0" dense>
          <v-layout row wrap text-xs-center>
            <v-flex xs4>Volume</v-flex>
            <v-flex xs4>Duration</v-flex>
            <v-flex xs4>PRs</v-flex>
          </v-layout>
        </v-toolbar>

        <v-card-text>
          <extended-exercise-summary
            :exercise="e"
            :key="index"
            v-for="(e, index) in workout.exercises"
          />
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import ExtendedExerciseSummary from '~/components/ExtendedExerciseSummary.vue'
// import AdjustWorkoutTimeDialog from '../components/AdjustWorkoutTimeDialog'

import workoutMixin from '~/mixins/workout.mixin'

export default {
  components: {
    ExtendedExerciseSummary
    // AdjustWorkoutTimeDialog
  },
  mixins: [workoutMixin],
  created: function() {
    if (!this.workout) {
      this.load()
    }
  },
  data: () => ({
    workout: null,
    timeDialog: false
  }),
  methods: {
    load() {
      const id = atob(this.$route.params.id)
      this.getWorkout(id).then((w) => (this.workout = w))
    },
    setNewTimes(times) {
      this.workout.startedAt = times.newStartDate.toJSON()
      this.workout.endedAt = times.newEndDate.toJSON()
      this.timeDialog = false

      this.deleteWorkout(this.workout).then(() => {
        delete this.workout._id
        delete this.workout._rev
        this.saveWorkout(this.workout).then((uw) =>
          this.$router.replace(`/workouts/${btoa(uw._id)}`)
        )
      })
    }
  }
}
</script>

<style></style>
