<template>
  <v-layout>
    <v-flex xs12 sm6 offset-sm3>
      <template v-for="(w, i) in workouts">
        <v-card v-if="!w.isActive" :key="w._id" flat>
          <v-card-title primary-title>
            <v-layout column>
              <h3 v-if="!isEditing(w)" class="headline mb-0">
                {{ w.name }}
              </h3>
              <v-text-field
                v-if="isEditing(w)"
                v-model="w.name"
                :rules="nameRules"
                :counter="50"
                label="Workout name"
                required
              />
              <div>{{ w.date | moment('dddd, MMMM Do YYYY, h:mm:ss a') }}</div>
            </v-layout>
          </v-card-title>

          <v-toolbar class="elevation-0" dense>
            <v-layout row wrap text-xs-center>
              <v-flex xs4>
                {{ w.totalVolume ? `${w.totalVolume} lbs` : 'Volume N/A' }}
              </v-flex>
              <v-flex xs4>
                {{ w.duration ? w.duration : 'Duration N/A' }}
              </v-flex>
              <v-flex xs4>
                {{ w.numPrs ? `${w.numPrs} PRs` : 'PRs N/A' }}
              </v-flex>
            </v-layout>
          </v-toolbar>

          <v-card-text>
            <exercise-summary
              v-for="(e, index) in w.exercises"
              :key="index"
              :exercise="e"
            />
          </v-card-text>

          <v-card-actions>
            <v-btn icon>
              <v-icon>share</v-icon>
            </v-btn>
            <v-btn v-if="!editingId" icon @click="toggleEdit(w)">
              <v-icon>edit</v-icon>
            </v-btn>
            <v-btn v-if="isEditing(w)" icon @click="toggleEdit()">
              <v-icon>cancel</v-icon>
            </v-btn>
            <v-btn v-if="isEditing(w)" icon @click="updateWorkout(w)">
              <v-icon>save</v-icon>
            </v-btn>
            <v-btn icon @click="askRemove(w)">
              <v-icon>delete</v-icon>
            </v-btn>
            <v-spacer />
            <v-btn icon @click="showWorkout(w)">
              <v-icon>keyboard_arrow_right</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
        <v-divider
          v-show="i !== workouts.length - 1 && i !== 0"
          :key="w._id + 'divider'"
        />
      </template>
    </v-flex>

    <v-snackbar v-model="snackbar" bottom right :timeout="1000">
      {{ snackText }}
      <v-btn color="pink" flat @click="snackbar = false">
        Close
      </v-btn>
    </v-snackbar>

    <!-- <WorkoutsSpeedDial /> -->
    <confirm-dialog
      :dialog="deleteWorkoutDialog"
      confirm-txt="Delete"
      content="Are you sure you want to delete this workout?"
      title="Delete Workout"
      @confirmed="removeWorkout()"
      @cancelled="deleteWorkoutDialog = false"
    />
  </v-layout>
</template>

<script>
import ExerciseSummary from '~/components/ExerciseSummary.vue'
// import WorkoutsSpeedDial from '../components/WorkoutsSpeedDial.vue'
// import NewWorkoutButton from '../components/NewWorkoutButton.vue'
import ConfirmDialog from '~/components/ConfirmDialog.vue'

// import { EventBus } from '../util/event-bus.js'
import workoutMixin from '~/mixins/workout.mixin'

export default {
  components: {
    ExerciseSummary,
    // WorkoutsSpeedDial,
    // NewWorkoutButton,
    ConfirmDialog
  },
  data: () => ({
    deleteWorkoutDialog: false,
    pendingDeleteWorkout: null,
    snackbar: false,
    snackText: 'Removed!',
    loading: false,
    initialized: false,
    valid: false,
    workoutName: '',
    nameRules: [
      (v) => {
        return !!v || 'Name is required'
      },
      (v) => {
        return v.length <= 50 || 'Name must be less than 50 characters'
      }
    ],
    workouts: [],
    editingId: null
  }),
  mixins: [workoutMixin],
  created() {
    if (!this.initialized) {
      this.load()
      this.initialized = true
    }
  },
  methods: {
    load() {
      this.isLoading = true

      this.getMyWorkouts()
        .then((workouts) => {
          this.workouts = workouts
          this.isLoading = false
        })
        .catch(() => {
          this.isLoading = false
        })
    },
    addWorkout(name) {
      const workout = {
        name,
        date: new Date(),
        duration: 0,
        totalVolume: 0,
        numPrs: 0,
        exercises: []
      }

      this.saveWorkout(workout).then((newWorkout) => {
        this.workouts.push(newWorkout)
        this.snack('Saved!')
      })
      // .catch(console.error)
    },
    updateWorkout(workout) {
      this.saveWorkout(workout).then((updatedWorkout) => {
        const index = this.workouts.findIndex((w) => {
          return w._id === updatedWorkout._id
        })
        this.workouts[index] = updatedWorkout
        this.snack('Updated!')
        this.toggleEdit()
      })
      // .catch(console.error)
    },
    showWorkout(workout) {
      this.$router.push(`/workouts/${btoa(workout._id)}`)
    },
    toggleEdit(workout) {
      this.editingId = workout ? workout._id : null
    },
    isEditing(workout) {
      return this.editingId === workout._id
    },
    askRemove(workout) {
      this.pendingDeleteWorkout = workout
      this.deleteWorkoutDialog = true
    },
    removeWorkout() {
      const workout = this.pendingDeleteWorkout
      this.deleteWorkout(workout).then(() => {
        this.workouts.splice(
          this.workouts.findIndex((w) => {
            return w._id === workout._id
          }),
          1
        )
        this.snack('Removed!')
        this.toggleEdit()
        this.deleteWorkoutDialog = false
      })
      // .catch(console.error)
    },
    snack(text) {
      this.snackText = text
      this.snackbar = true
    }
  }
}
</script>

<style></style>
